version: '3.8'

services:
  postgres:
    image: postgres:latest
    restart: always
    environment:
      POSTGRES_DB: ${POSTGRES_DB:?}
      POSTGRES_USER: ${POSTGRES_USER:?}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:?}
    volumes:
      - ./mount/db:/var/lib/postgresql/data
    ports:
      - "127.0.0.1:5432:5432"

  webapp:
    build: .
    environment:
      WAIT_HOSTS: postgres:5432

      POSTGRES_HOST: postgres
      POSTGRES_DB: ${POSTGRES_DB:?}
      POSTGRES_USER: ${POSTGRES_USER:?}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:?}

      DEBUG: ${DEBUG}

    volumes:
      # remove below string for production
      - .:/usr/src
    ports:
      - "8000:8000"
    depends_on:
      - postgres